#P1 {
    border:5px solid;
    margin: 20px auto;
    max-width: 400px;
    text-align:center;
    border-radius: 5px;
    border-width: 2px;
    font-size:32px;
    font-weight:bold;
    color:red;
    border-color:black;
    
}
h1 {
    text-align:center;
    color:blue;
}
h2 {
    text-align:center;
}

#P5 {
    color: red;
    text-align:center;
    font-size:x-large;
}

#P2 {
    COLOR:RED;
}

body {
    background:white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding:40px;


}

.card {
    background: linear-gradient(to top, skyblue, lightyellow);
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    text-align: left;
}

P {
    font-weight:bold;
    margin-left: 8px;
    margin-top:8px;
    font-size: 16px;
}

#P3 {
    text-align: center;
}
#p4 {
    text-align:center;
}
h6 {
    text-align:right;
    font-weight:bold;
}

h4 {
    text-align: right;
    font-weight:bold;
    margin-top: 18px;

}